{% extends 'base.html.twig' %}

{% block main %}
	<div class="main">
	{% for e in billets %}
		<article>
			<h3>{{ e.titre }}</h3>
			<p>{{ e.resume }}...<br /> <span><i><a href="">(Lire la suite)</a></i></span></p>
		</article>
	{% endfor %}
	</div>
{% endblock %}
