<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('styles/styles.css') }}">
    </head>
    <body>
        {% block body %}
            <div class="voileBlanc">
                {% block header %}
                    <header>
                        <hgroup>
                            <h1>Billet simple pour l'Alaska</h1>
                            <h2>Jean Forteroche</h2>
                        </hgroup>
                        <span><i class="fa fa-bars"></i></span>
                        <nav>
                            <ul>
                                <li><a href="index.php?menu=news">Accueil</a></li>
                                <li><a href="index.php?menu=archives">Archives</a></li>
                                <li><a href='index.php?menu=adminAuteur'>Admin</a></li>
                            </ul>
                        </nav>
                    </header>
                {% endblock %}
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
